@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');

body {
  /* background: #accce9 !important; */
  background: linear-gradient(to right, #A40606, #D98324);
  min-height: 100vh;
  font-weight: 400;
  font-family: 'Fira Sans', sans-serif;
}

